.app-page-header {
  background: linear-gradient(90deg, #2E52F8 0%, #56A7F2 100%);
  padding: 1px 16px;
  
  ::ng-deep .ant-page-header-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  ::ng-deep .ant-page-header-heading-title,
  ::ng-deep .ant-page-header-heading-extra {
    color: white;
  }
}
