.navbar-actions {
  display: flex;
  align-items: center;
  gap: 0;
}

.user-section {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  &.logo-alt {
    width: 87px;
    height: 34px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    justify-content: center;
  }
}

.nav-divider {
  height: 30px !important;
  margin: 0 8px !important;

  ::ng-deep .ant-divider-vertical {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.help-icon {
  width: 21px;
  height: 21px;
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.user-avatar {
  background-image: url('/assets/bg_avatar.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  margin-right: 5px;
  ::ng-deep .ant-avatar-string {
    color: white;
  }
}
